@charset "utd-8";

.etx{
    width: 100%;
    max-width: 1380px;
    height: 350px;
    margin: 180px auto;
    background-color: aquamarine;
    display: flex;
}

.company{
    width: 50%;
    background-color: #ffffff;
}




.etx-tabmenu{
    width: 100%;
    max-width: 670px;
    display: flex;
    position: relative;
}
.etx-tabmenu > ul{
    height: 280px ;
    border: 1px solid #000;
}
.etx-tabmenu > li{
    padding: 0 5px ;
}
.etx-tabmenu > li div{
    height: 0;
    position: absolute;
    top: 30px;
        left: 0;
    overflow: hidden;
}
.etx-tabmenu > li.active div{
    width: 100%;
    max-width: 670px;
    /* width: 670px; */
    height: 280px;
    border: 1px solid #ddd;
}
.etx-tabmenu > li > p{
    text-align: center;
    font-size: 16px;
    padding: 0 5px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #ddd;
}
.etx-tabmenu > li > p:hover{
    background-color: #eee;
}
.etx-tabmenu > li.active > p{
    background-color: #fff;
}

/* 본사 */
.mainC-info ul li{
    border-bottom: 1px solid #333;
    padding: 15px 5px;
}
.aMore h2{
    padding: 10px;
    text-align: right;

}


/* 갤러리 */
.gallery > ul{
    width: 100%;
    max-width: 670px;
    padding: 25px 10px;
    display: flex;
    gap: 10px;
}
.gallery ul li{
    width: 100%; 
    max-width: 150px;
    height: 100%;
    min-height: 150px;
    max-height: 150px;
    background-color: aqua;
    overflow: hidden;
}
.gallery ul li a{
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center
}
.gallery ul li:nth-of-type(3) a img{
    width: 150px;
}
.gallery ul li a img{
    height: 150px;
}




.map{
    width: 50%;
    background-color: yellowgreen;
}

.map-img{
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 670px;
    height: calc(100% - 80px);
    max-height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid #00000021;
}
.map-img a::after{
    content: "약도보기";
    color: white;
    font-size: 17px;
    font-weight: 500;
    display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    opacity: 0;
}
.map-img:hover a::after{
    opacity: 1;
    transition: all 0.5s;
}
.map-img a{
    margin: 0 auto;
    display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    overflow: hidden;
}
