@charset "utd-8";
footer{
    width: 100%;
    background-color: #99999940;
}
.footer-wrap{
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    height: 300px;
}

.footer-left{
    width: 60%;
    background-color: aliceblue;
}
.footer-leftUp ul{
    width: 100%;
    max-width: 400px;
    display: flex;
}