@charset "utd-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


@import url("notice.css");
@import url("undersaleBar.css");
@import url("sale-object.css");
@import url("bannerad.css");
@import url("etx.css");
@import url("footer.css");
/* @import url("uiux.css"); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
position: relative;
height: 100%;
}

body {
    color: #000;
    margin: 0;
    padding: 0;
}


a{
    color: black;
    font-family: "Noto Sans KR", sans-serif;
}

.wrap{
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.inner{
    padding: 20px;
}


.fixer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.mover{
    box-shadow: 0 -4px 4px 1px #00000036;
    margin-top: 840px;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* 헤더 =======================================================================================================================================*/
/* .hd-nonefixer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
} */
 /* 모바일 헤더 */
.mb-view{
    display: none;
}


.mb-header{
    display: none;
    width: 100%;
    height: 80px;
    position: relative;
}
.mb-header > .addMenubar > a> i{
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 20px ;
    transform: translateY(-50%);
}
.mb-header > .addMenubar > .submenu{
    width: 100%;
    position: absolute;
        top: 0;
        left: 0;
    background: white;
}
.mb-header > .addMenubar > .submenu > .profile-wrap{
    width: 100%;
}
.mb-header .mb-header-Icon{
    width: 100%;
    height: 80px;
    padding: 10px;
}
.mb-header .mb-header-Icon > h2{
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 25px;
    font-weight: 700;
}
.mb-header .mb-header-Icon >.return-Icon{
    width: 40px;
    position: absolute;
    top: 30px;
}
.mb-header > .addMenubar > .submenu > .profile-wrap> li{
    width: 100%;
    border-bottom: 1px solid #00000020;
    padding: 20px;
    z-index: 99;
}
.mb-header > .addMenubar > .submenu > .profile-wrap> li:nth-of-type(7){
    border: none;
}
.mb-header > .addMenubar > .submenu > .profile-wrap> li:last-of-type{
    height: 100px;
    border-top: 1px solid #000;
    border-bottom: none;
    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
.mb-header > .addMenubar > .submenu > .profile-wrap> li:last-of-type > a{
    color: #00000070;
    font-weight: 500;
    text-align: center;
    width: 50%;
    height: 20px;
}
.mb-header > .addMenubar > .submenu > .profile-wrap> li:last-of-type > a:first-of-type{
    border-right: 1px solid #00000060
}




 /* pc헤더 */
.header{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.header-wrap{
    width: 100%;
        max-width: 1380px;
    margin: 0 auto;
    display: flex;
        justify-content: space-between;
}
.header-wrap ul li a{
    color: white;
}

/* 헤더 좌측 아이콘 */
.headerIcon-section{
    width: 100px;
    margin: 0 5px;
    display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
}
.headerIcon-section li{
    width: 27px;
    height: 27px;
    position: relative;
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
}
/* .headerIcon-section .megaphone{
    width: 200px;
    border: none;
    border-radius: none;
    padding: 7px;
    color: white;
    font-size: 12px;
} */
.headerIcon-section li a{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 헤더 우측(로그인 / 회원가입) */
.headerLogin-section{
    width: 170px;
    display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-end
}
.headerLogin-section > li{
    display: flex;
}
.headerLogin-section > li a{
    font-size: 12px;
    padding: 0 10px;
}
.headerLogin-section > li:first-of-type {
    height: 13px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.headerLogin-section > li:last-of-type a{
    font-size: 14px;
}





/* 헤더 메뉴 ============================================================================================================================================*/
.header-menu{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
}
.header-menu-wrap{
    width: 100%;
    max-width: 1390px;
    height: 100%;
    padding: 0 5px 10px 5px ;
    margin: auto;
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
}
/* 좌측메뉴 */
.leftMenu{
    width: 400px;
    height: 17px;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    /* background-color: bisque; */
}
.leftMenu > li{
    width: 30px;
}
.leftMenu > li{
gap: 11px;
    display: flex;
    flex-direction: column;
}
.leftMenu > li:nth-of-type(4){
    width: 47px;
}
.leftMenu > li> a{
    font-weight: 600;
}

/* 우측 메뉴 */
.rightMenu i {
    font-size: 25px;
}
.rightMenu i:hover{
    color: #585bff;
}
.rightMenu{
    height: 25px ;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
}
.rightMenu > div{
    width: 30px;
gap: 10px;
    display: flex;
        flex-direction: column;
        align-items: flex-end;
    /* gap: 11px; */
}


/* 서브메뉴 리스트 */
/* 1) 생물 */
.header-menu-wrap > ul > li> a:hover{
    color: #888;
}
.submenu{
    display: none;
}
.pSub{
    width: 400px;
}

.petList{
    width: 400px;
    padding: 15px 20px 10px;
    display: flex;
        justify-content: space-between;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0 0 7px 7px ;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.petList > li > a{
    font-size: 14px;
    font-weight: 100px;
}
.petList > li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.petList > li > a > small{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}


/* 더보기(바로가기) 메뉴 */
.addMenubar .wrap{
    display: none;
}
.addMenubar ul{
    width: 90px;
    padding: 10px 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
gap: 5px;
}
.addMenubar ul > li a{
    font-size: 14px;
}

/* 검색창 */
#searchWindow{
    display: none;
}
.search-wrap-hover{
    margin: auto;
    width: 100%;
    height: 150px;
    max-width: 1380px;
    margin: auto;
    position: absolute;
        left: 50%;
    transform: translate(-50%);
    display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
}
.search-wrap-hover form{
    position: relative;
}
.search-form{
    width: 450px;
    height: 44px;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #00000030;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}
.search-form:hover{
    /* outline: 1px solid rgb(0, 0, 0); */
    border: 1px solid black;
    transition-property: border;
    transition-duration: 1s;
}
.search-form:focus {
    border: none;
    outline: 1px solid rgb(0, 0, 0) ;
}
/* .clicked{
    border: 1px solid #000000;
} */
/* .search-inputSection{
    width: 100%;
    max-width: 280px;
    border: none;
    outline: none;
} */
.search-inputSection::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: #b4b4b4;
    font-family: "Noto Sans KR", sans-serif;
}
.search-reset{
    width: 17px;
    height: 17px;
    font-size: 0;
    border: none;
    background: url("../images/search_reset_button.svg") no-repeat center;
    background-size:cover; 
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
}
.search-input-click{
    width: 22px;
    height: 22px;
    border: none;
    background: url("../images/search_input.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
        top: 50%;
        right: 20px;
    transform: translateY(-50%);
}

#searchWindow.openSearchWindow{
    display: block;
}






/* 슬라이드 이미지 / 메인 로고 / 로그인 창 ================================================================================================================== */

body .slide-section{
    z-index: -1;
    width: 100%;
    height: 700px;
    background: url("../images/bg-beta.png") no-repeat fixed;
    background-size: cover ;
}
.slide-section .wrap{
    width: 100%;
    max-width: 1380px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    /* background: url("../images/banner1beta.png") no-repeat ;
    background-size: cover; */
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        align-items: flex-end;
}
/* 메인로고 */
.slide-section >.wrap > a img{
    
    width: 100%;
    max-width: 350px;
    min-width:  100px;
    margin: 30px 0;
}



/* 심청 소개란============================================================================================================================================== */
.introduce{
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    text-align: center;
    box-shadow:  0 4px 4px 2px rgba(0, 0, 0, 0.226);
}
.introduce-wrap{
    padding-top: 250px ;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto ;
    height: 500px;
    border-bottom: 1px solid;

    /* 심청 소개란 움직임 */
    opacity: 0;
    transition: all 0.5s;
    /* background-color: #585bff; */
}
/* 심청 소개란 js *class */
.view{
    opacity: 1;
}


/* .introduce-wrap:hover{
    display: block;
} */
.introduce-wrap > img{
    width: 100%;
    max-width: 900px;
    position: relative;
}
.introduce-wrap h1{
    margin: 14px 0;
    font-size: 20px;
    font-weight: 700;
}
.introduce-wrap h3{
    font-size: 30px;
    font-weight: 500;
}
/*  상단 광고 배너 ===========================================================================================================================================*/
.adUp-banner{
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
gap: 10px;
}
.adUp-banner .kakao{
    border-radius: 5px;
    width: 50%;
    height: 190px;
    background: url("../images/ad-banner/kakao-banner.png") no-repeat center;
    background-size: cover;
}
.adUp-banner .coupon{
    border-radius: 5px;
    width: 50%;
    height: 190px;
    background: url("../images/ad-banner/1-banner.png") no-repeat center;
    background-size: cover;
}

