@charset "utd-8";

/* 상품 광고란 */

.swiper-slide{
    width: 100%;
    /* width: 100%;
    max-width: 200px;
    min-width: 200px; */
}

.sale-object{
    width: 100%;
    max-width: 1270px;
    height: 600px;
    margin: 0 auto;
    padding: 100px 0;
    /* background-color: #888; */
    text-align: center;
}

.sale-object-wrap h1{
    font-size: 1.7rem;
    font-weight: 600;
}
.swiper-slide > a{
    /* display: block;
    height: 290px;
    padding: 10px; */
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block;
}

/* 인기 생물 */
.popular_list_wrap{
    background-color: rgb(255, 255, 255);
    position: relative;
}
.popular_list_wrap> a > h1{
    width: 10vw;
    min-width: 70px;
    max-width: 90px;
    height: 25px;

    margin: 0 auto;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #FF5F5F;
    color: white;
}
.pet-img-wrap{
    width: 220px;
    height: 220px;
    margin: 0 auto;
    display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    border: 1px solid #00000025;
}
.pet-img-wrap::after{
    padding-top: 20px;
    content: "난이도"
    url("../images/star/star2.svg") ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
}
.popular_list > .swiper-wrapper > .swiper-slide:nth-of-type(2) > a > .pet-img-wrap::after{
    padding-top: 20px;
    content: "난이도"
    url("../images/star/star4.svg") ;
}
.popular_list > .swiper-wrapper > .swiper-slide:nth-of-type(3) > a > .pet-img-wrap::after{
    padding-top: 20px;
    content: "난이도"
    url("../images/star/star1.svg") ;
}
.popular_list > .swiper-wrapper > .swiper-slide:nth-of-type(4) > a > .pet-img-wrap::after{
    padding-top: 20px;
    content: "난이도"
    url("../images/star/star2.svg") ;
}
.popular_list > .swiper-wrapper > .swiper-slide:nth-of-type(5) > a > .pet-img-wrap::after{
    padding-top: 20px;
    content: "난이도"
    url("../images/star/star3.svg") ;
}


.pet-img-wrap:hover::after{
    opacity: 1;
    transition: all 0.4s;
}
.pet-img-wrap img{
    height: 100%;
}
.pet-text{
    width: 180px;
    height: 90px;
    margin: 0 auto;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
}

/* 생물 정보 */
.petList_information{
    width: 100%;
    gap: 5px;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
}
.petList_information h2{
    font-weight: 700;
    margin-top: 5px;
}
.petList_information p{
    width: 90%;
    height: 20px;
    font-size: 0.9rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    color: rgb(114, 114, 114);
}

/* 가격정보 */
.price_information{
    width: 100%;
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
}
.price_information h2{
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #585bff;
    color: white;
}

/* 버튼 색깔 */
.pop-bt{
    position: absolute;
    color: rgba(0, 0, 0, 0.219);
}
.swiper-button-next{
    right: -20px;
}
.swiper-button-prev{
    left: -20px;
}