@charset "utd-8";
@media screen and (max-width:1024px) {
    body .slide-section{
        height: 400px
    }
    .header{
        padding: 0 10px;
    }
    .header-menu{
        padding: 0 10px
    }
    .slide-section .wrap a img{
        max-width: 250px
    }
    .slide-section .wrap{
        padding: 0 20px;
    }
};